MVC/Connected Services/SOAPService/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuthorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorDTO" nillable="true" type="tns:AuthorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorDTO" nillable="true" type="tns:ArrayOfAuthorDTO" />
  <xs:complexType name="AuthorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorDTO" nillable="true" type="tns:AuthorDTO" />
  <xs:complexType name="ArrayOfSongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongDTO" nillable="true" type="tns:SongDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongDTO" nillable="true" type="tns:ArrayOfSongDTO" />
  <xs:complexType name="SongDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongDTO" nillable="true" type="tns:SongDTO" />
  <xs:complexType name="ArrayOfAlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumDTO" nillable="true" type="tns:AlbumDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumDTO" nillable="true" type="tns:ArrayOfAlbumDTO" />
  <xs:complexType name="AlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:AuthorDTO" />
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:SongDTO" />
      <xs:element minOccurs="0" name="SongId" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbumDTO" nillable="true" type="tns:AlbumDTO" />
</xs:schema>